body{
    padding: 10px;
    margin-right: 400px;
    margin-left: 400px;
}

header {
	#background-color:grey;
    padding:5px;
}
nav {
    line-height:30px;
    background-color:#eeeeee;
    height:100px;
    width:300px;
    float:left;
    padding:5px;
}
nav ul {
    border: 1px solid #555;
	}

nav li {
	    text-align: center;
	    border-bottom: 1px solid #555;
	}
nav li:last-child {
	    border-bottom: none;
	}	      
}
section {
    float:left;
    padding:10px;	 	 
}